
# Ignore Python virtual environment and dependencies
codegen/Lib/
codegen/Scripts/
*.pyc
__pycache__/

# Ignore system and editor-specific files
.DS_Store
.idea/
.vscode/
.env/
.venv/

# Ignore other unnecessary files
*.log
*.sqlite3
